{% extends "base.html" %}
{% block content %}
<section class="section-card">
  <h2>Certifications</h2>

  <ul class="cert-list">
    <li>
      <strong>Python Programming</strong> — Infosys Springboard
    </li>
    <li>
      <strong>SQL for Beginners</strong> — Scaler
    </li>
    <li>
      <strong>Mastering Data Structures and Algorithms</strong> — Code360
    </li>
    <li>
      <strong>Java Training</strong> — Spoken Tutorial
    </li>
    <li>
      <strong>Java Programming Fundamentals</strong> — Infosys Springboard
    </li>
  </ul>
</section>
{% endblock %}
